@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gray-50 {
    background-image: url('https://img.freepik.com/vector-gratis/fondo-monocromatico-blanco-estilo-papel_23-2149012951.jpg'); /* Agrega tu imagen de fondo aquí */
    background-size: cover;
    background-repeat: no-repeat;
  }